* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
body{
    width: 1200px;
    height: auto;
}  
.linkk{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}
.contain{
    display: inline-block;
    width: 420px;
}
.link{
    display: inline-block;
    font-size: 24px;
    line-height: 36px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
button{
    border: solid 1px black;
    
}

main{
    width: 902px;
}
.contain:not(:last-child){
    margin-right: 24px;
}
.paragraf{
    color: #626262;
    font-family: 'Playfair Display SC', serif;
}
.text{
    color: #626262;
    font-family: 'Open Sans', sans-serif;

}